{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Homepage´s Jorge</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ratione libero architecto, voluptatum numquam omnis voluptatibus explicabo. Commodi quia rem dolores, sed nihil repellat aliquid architecto ipsam minima numquam pariatur atque inventore eum voluptatem deserunt quasi sint mollitia provident odit ullam adipisci magnam quae quibusdam iusto. Quos ipsum unde voluptatem neque maxime dicta? Illo quidem laudantium enim maxime aspernatur totam perspiciatis sunt nostrum. Dolore repellat tempora quia quam tempore libero accusamus rerum pariatur, fuga sunt in architecto. Distinctio provident libero, placeat vel molestiae excepturi. Accusantium aperiam architecto iste ad cupiditate, praesentium id modi voluptate deleniti a. Magnam nostrum eius vero!</p>        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
            Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}